
@media screen and (max-width: 1000px){

    .fa-row{
        margin-top: 2vh;
        margin-bottom: 1vh;
    }

    .input-post,
    #new-post-textarea,
    .post-label,
    #edit-post-textarea{
        width: 70vw;
    }

    .post-label,
    #edit-post-textarea{
        border: 1px solid black;
        margin-right: 7vw;
    }

    .edit-label{
        display: block;
        text-align: center;
    }


}
