/*GENERAL*/
body{
    font-family: 'Spectral', serif;
    font-size: 21px;
    padding-top: 5vh;
    background-color: #FCFCFC;
}
a {
    color: black;
}

a:hover {
    text-decoration: none;
}

/*BASE*/
/*NAV*/
.top-part{
    background-color: #252525;
}

.chronicle{
    color: white;
    font-variant: small-caps;
    font-weight: bold;
}


/*FRONTPAGE*/
.frontpage{
    margin-top: 5vh;
}

#main-title{
    font-size: 50px;
    font-family: 'Spectral', serif;
    font-variant: small-caps;
    font-weight: bold;
}


/*POST*/
textarea {
    width: 45vw;
    height: 50vh;
}


.input-post {
    width: 25vw;
}

.post-link,
.project-links {
    color: black;
}

.project-links:hover{
    text-decoration: none;
    color: orange;
}


.post-title{
    margin-top: 3vh;
    font-size: 3em;
    font-weight: bold;
}

.post-bottom{
    margin-top: 1vh;
    border-bottom: 1px solid #D3D3D3;
}

.post-content{
    margin-top: 2vh;
    font-size: 1em;
}


.post-label{
    width: 20vw;
}

/*EDIT POST PAGE*/
#edit-post-textarea{
    margin-top: 3vh;
}


.edit{
    color: green;
}
.delete{
    color: red;
}

hr{
    color: black;
}

/*FOOTER*/
.footer{
    margin-top: 5vh;
}


.letter{
    font-size: 22px;
}

.letter:hover{
    color: orange;
}
