.top-part{
    background-color: #252525;
}

.chronicle{
    color: white;
    font-variant: small-caps;
}

body{
    font-family: 'Spectral', serif;
    font-size: 22px;
    padding-top: 5vh;
    background-color: #FCFCFC;
}

.frontpage{
    margin-top: 5vh;
}

#main-title{
    font-size: 50px;
    font-family: 'Spectral', serif;
    font-variant: small-caps;
}

textarea {
    width: 45vw;
    height: 50vh;
}

.input-post {
    width: 25vw;
}

.post-link,
.project-links {
    color: black;
}

.post-title{
    margin-top: 3vh;
    font-size: 3em;
    font-weight: bold;
}

.post-bottom{
    margin-top: 1vh;
    border-bottom: 1px solid #D3D3D3;
}

.post-content{
    margin-top: 2vh;
}


.post-label{
    width: 20vw;
}

#edit-post-textarea{
    margin-top: 3vh;
}

hr{
    color: black;
}

.footer{
    margin-top: 5vh;
}

a {
    color: black;
    /*font-size: 20px*/
}

.letter{
    font-size: 22px;
}

.letter:hover{
    color: orange;
}

.delete{
    color: red;
}
