/*GENERAL*/
body{
    font-family: 'Spectral', serif;
    font-size: 20px;
    padding-top: 5vh;
    background-color: #FCFCFC;
}
a {
    color: black;
}

a:hover {
    text-decoration: none;
}

/*BASE*/
/*NAV*/
.top-part{
    background-color: #252525;
}

.chronicle{
    color: white;
    font-variant: small-caps;
    font-weight: bold;
    font-size: 24px;
    margin-left: 2vw;
}

.dropdown-divider{
    color: black;
}

/*FRONTPAGE*/
.frontpage{
    margin-top: 5vh;
}

#main-title{
    font-size: 65px;
    font-variant: small-caps;
    font-weight: bold;
}



/*POST*/
textarea {
    width: 45vw;
    height: 50vh;
}


.input-post {
    width: 25vw;
}


.post-label{
    width: 20vw;
}


/*POST PAGE*/
.post-link,
.project-links {
    color: black;
}

.project-links:hover{
    text-decoration: none;
    color: orange;
}


.post-title,
.post-title-pg {
    margin-top: 3vh;
    font-size: 1.6em;
    font-weight: 600;
}


.project-info{
    margin-top: 2vh;
}

.post-bottom{
    margin-top: 1vh;
    margin-bottom: 2vh;
    border-bottom: 1px solid #D3D3D3;
    font-size: 1.3em;
}

.post-bottom{
    border-bottom: 0;
}

.post-content{
    margin-top: 3vh;
}


.CRUD {
    border-top: 1px solid #D3D3D3;
    padding-top: 1vh;
}
.edit{
    color: green;
}
.delete{

    color: red;
}

/*EDIT POST PAGE*/
#edit-post-textarea{
    margin-top: 3vh;
}



hr{
    color: black;
}


/*DELETE POST*/

.warning {
    color: red;
}

.delete-button {
    margin-left: 3vw;
}

/*FOOTER*/
.footer{
    margin-top: 5vh;
}


.letter{
    font-size: 22px;
}

.letter:hover{
    color: orange;
}
