{% extends "base.html" %}

{% block content %}

<div class='edit-post text-center'>
    <h2>Edit Your Post</h2>

    <form method="post">
        <label><h3>Title</h3></label>
            <input type="text" name="change-title" value="{{post.title}}">

        <br>
        <br>
        <div class="text-right col-md-12">
            <div class='col-md-12'>
                <label class='col-md-3'>Project</label>
                <input class='post-label col-md-4' type='text' name='change-project' value='{{post.project}}'>
            </div>

            <br>
            <div class='col-md-12'>
                <label class='col-md-3'>Website Link</label>
                <input class='col-md-4 post-label' type='text' name='change-pj-link' value='{{post.project_link}}'>
            </div>
            <br>
            <div class='col-md-12'>
                <label class='col-md-3'>Github Link</label>
                <input class='col-md-4 post-label' type='text' name='change-github' value='{{post.github}}'>
            </div>
         </div>

        <textarea id='edit-post-textarea' name="change-content">{{ post.render_back() | safe }}</textarea>


        <br>
        <div class="container row">
            <div class="col-md-3">
                <a href='{{url_for("showPost", post_id=post.key.id())}}'>Cancel</a>
            </div>
            <div class="col-md-4">
                <input id='edit-submit' type="submit">
            </div>
        </div>
    </form>
</div>

{% endblock %}
