{% extends "base.html" %}

{% block content %}

<div class='edit-post text-center'>
    <h2>Edit Your Post</h2>

    <form method="post">
        <label><h3>Title</h3></label>
            <input type="text" name="change-title" value="{{post.title}}">

        <br>
        <br>
        <div class="text-left">
            <label>Project</label>
            <input class='post-label' type='text' name='change-project' value='{{post.project}}'>
            <label>Website Link</label>
            <input class='post-label' type='text' name='change-pj-link' value='{{post.project_link}}'>
            <label>Github Link</label>
            <input class='post-label' type='text' name='change-github' value='{{post.github}}'>
         </div>

        <h3>Posting</h3>
        <textarea id='edit-post-textarea' name="change-content">{{ post.render_back() | safe }}</textarea>


        <br>
        <div class="container">
            <div class="row">
                <input id='edit-submit' class='col-md-1' type="submit">
            </div>
        </div>
    </form>
    <form method='post'>
        <input type='submit' name="cancel_edit_post"
        id='edit-cancel' class='col-md-1' value='Cancel'>
    </form>
</div>

{% endblock %}
