
{% extends "base.html" %}

{% block content %}

<div class='frontpage col-md-12 text-center'>
    <div class='frontpage-top'>
        <h1 id='main-title'>Chronicle</h1>

        <h4>Welcome to my tech blog.</h4>
        <br>
    </div>
    <br>
<br>
    {% for post in posts %}

    <div class='posts text-left'>
        <a href="{{url_for('showPost', post_id=post.key.id())}}" class='post-link'>
        <div class='col-md-12'>

            <h1 class="post-title text-left">{{ post.title}}</h1>
            <h4>{{post.last_modified.strftime("%b %d, %Y")}}</h4>
            <p>Project: {{post.project}}</p>

            <p class='post-content'>{{post.rendered_content() | safe }}</p>
        </div>
        </a>
        <div class="col-md-12 row post-bottom">
            <div class='col-md-3'>
                {% if post.project_link %}
                <h4>
                    <a href="{{post.project_link}}" class='project-links' target="_blank">Live Website Link</a>
                </h4>
                {% endif %}
            </div>
            <div class='col-md-3'>
                {% if post.github %}
                <h4>
                    <a href="{{post.github}}" class='project-links' target="_blank">Github Link</a>
                </h4>
                {% endif %}
            </div>

        </div>

    </div>
    <hr class='col-md-12'>


    {% endfor %}
</div>

<div>

    <form method='post'>

        {% for cur in cursors %}
            <input name='page' type='submit' value='{{loop.index}}'>
        {% endfor %}

    </form>



</div>

<div class="row col-md-12 text-center footer">

        <div class="col-md-3">
            <a href='https://ian-agpawa.appspot.com' target="_blank">
                <p> &copy; 2017 Ian Agpawa</p>
            </a>
        </div>

        <div class="col-md-3 fa-google-div">
             <i class="fa fa-google">agpawaji@gmail.com</i>
        </div>

        <div class='col-md-5 col-md-offset-1 text-center fa-row'>

            <div class='col-md-2 inline'>
            <a href="https://ian-agpawa.appspot.com" target="_blank"
                class="letter">
              <i class="fa fa-info fa-f"> </i>
            </a>
            </div>

            <div class='col-md-2 inline'>
            <a href="https://github.com/ianagpawa" target="_blank"
                class="letter">
              <i class="fa fa-github-square fa-f"> </i>
            </a>
            </div>

            <div class='col-md-2 inline'>
            <a href="https://www.linkedin.com/in/ianagpawa"
                target="_blank" class="letter">
                <i class="fa fa-linkedin-square fa-f"></i>
            </a>
            </div>


            <div class='col-md-2 inline'>
            <a href="https://profiles.udacity.com/p/9800117158"
                target="_blank" class="letter">
               <i class="fa fa-user-circle fa-f"></i>
           </a>
           </div>

           <div class='col-md-2 inline'>
             <a href="http://www.freecodecamp.com/theartilect"
                 target="_blank" class="letter">
                <i class="fa fa-free-code-camp fa-f"></i>
            </a>
            </div>

            <div class='col-md-2 inline'>
            <a href="https://twitter.com/theartilect" target="_blank"
                class="letter">
                <i class="fa fa-twitter fa-f"></i>
            </a>
            </div>
        </div>


</div>

{% endblock %}
