
{% extends "base.html" %}

{% block content %}

<div class='frontpage col-md-12 text-center'>
    <div class='frontpage-top'>
        <h1 id='main-title'>Chronicle</h1>
        <br>
        <h4>Welcome to my tech blog.</h4>
    </div>
    <hr>

    {% for post in posts %}

    <div class='posts text-left'>
        <a href="{{url_for('showPost', post_id=post.key.id())}}" class='post-link'>
        <div class='col-md-12'>

            <div class='post-header text-center'>
                <h3 class="post-title">{{ post.title}}</h3>

                <h5>{{post.last_modified.strftime("%b %d, %Y")}}</h5>

                {% if post.project %}
                <h4 class='text-left'>Project: {{post.project}}</h4>
                {% endif %}
            </div>


            <p class='post-content'>{{post.content}}</p>
        </div>
        </a>
        <div class="col-md-12 row post-bottom">
            <div class='col-md-3'>
                {% if post.project_link %}
                <h5>
                    <a href="{{post.project_link}}" class='project-links' target="_blank">Live Website Link</a>
                </h5>
                {% endif %}
            </div>
            <div class='col-md-3'>
                {% if post.github %}
                <h5>
                    <a href="{{post.github}}" class='project-links' target="_blank">Github Link</a>
                </h5>
                {% endif %}
            </div>

        </div>

    </div>


    {% endfor %}
</div>

<div class="row col-md-12 text-center footer">
        <div class="col-md-3">
            <a href='https://ian-agpawa.appspot.com' target="_blank">
                <p> &copy; 2017 Ian Agpawa</p>
            </a>
        </div>
        <div class="col-md-4">
             <i class="fa fa-google fa-f"></i> agpawaji@gmail.com
        </div>
        <div class="col-md-1">
            <a href="https://github.com/ianagpawa" target="_blank"
                class="letter">
              <i class="fa fa-github-square fa-f"></i>
            </a>
        </div>
        <div class="col-md-1">
            <a href="https://twitter.com/theartilect" target="_blank"
                class="letter">
                <i class="fa fa-twitter fa-f"></i>
            </a>
        </div>

        <div class="col-md-1">
            <a href="http://www.freecodecamp.com/theartilect"
                target="_blank" class="letter">
               <i class="fa fa-fire fa-f"></i>
             </a>
        </div>

        <div class="col-md-1">
            <a href="https://www.linkedin.com/in/ianagpawa"
                target="_blank" class="letter">
                <i class="fa fa-linkedin-square fa-f"></i>
            </a>
        </div>

</div>

{% endblock %}
