{% extends "base.html" %}
{% block content %}

<div class='col-md-12 text-center'>
        <br>
        <h3>Create a Post</h3>
        <form method='post'>
            <div class='input-forms'>
            <input type='text' class='input-post' name='title'
                placeholder="Title (Required)">
            <br>
            <input type='text' class='input-post' name='project'
                placeholder="Project">
            <br>
            <input type='text' class='input-post' name='pj-link'
                placeholder="Project Link">
            <br>
            <input type='text' class='input-post' name='github-link'
                placeholder="Github Link">
            <br>
            </div>
            <br>
            <br>
            <div>
                <textarea name="content" id='new-post-textarea'></textarea>
                <br>
            </div>
            <br>
            <a class='col-md-1 col-md-offset-1 text-left' href="{{url_for('front')}}">
                Cancel
            </a>
            <input class='col-md-2 col-md-offset-7 CRUD-button' type='submit' value='Submit'>
        </form>


</div>
{% endblock %}
