{% extends "base.html" %}
{% block content %}

<div class='col-md-12 text-center'>
        <br>
        <h3>Create a Post</h3>
        <form method='post'>
            <div class='input-forms'>
                <input type='text' class='input-post' name='title'
                    placeholder="Title (Required)">
                <br>

                <input type='text' class='input-post' name='project'
                    placeholder="Project" list='projectname'>
                <datalist id='projectname'>
                    <option value='Tech Blog'>
                    <option value='Music Catalog'>
                    <option value='Portfolio'>
                    <option value='Weather React'>
                    <option value='Weather Forecast'>
                    <option value='TacoHub'>
                    <option value='Music Blog'>
                    <option value='Simon Says'>
                    <option value='Monitor'>
                    <option value='Random Quote Generator'>
                    <option value='Image Search'>
                    <option value='Tic Tac Toe'>
                    <option value='Javascript Calculator'>
                    <option value='Pomodoro Productivity Timer'>
                    <option value='URL Shortener'>
                    <option value='Audacious'>
                    <option value='Wikipedia Viewer'>
                    <option value='Request Header Parser'>
                    <option value='TimeStamp'>
                    <option value='File Metadata'>
                    <option value='Local Weather'>
                    <option value='Finance Tracker'>
                    <option value='Tribute Page'>
                    <option value='Alpha Blog'>
                    <option value='Old Portfolio'>
                </datalist>
                <br>

                <input type='text' class='input-post' name='github-link'
                    placeholder="Github Link">
                <br>
            </div>
            <br>
            <br>
            <div>
                <textarea name="content" id='new-post-textarea'></textarea>
                <br>
            </div>
            <br>
            <a class='col-md-1 col-md-offset-2 text-left' href="{{url_for('front')}}">
                Cancel
            </a>
            <input class='col-md-2 col-md-offset-5 CRUD-button' type='submit' value='Submit'>
        </form>


</div>
{% endblock %}
