{% extends "base.html" %}

{% block content %}

<div class='posts text-left'>
    <div class='project-info container-fluid'>
        <div class='post-header'>
            <h1 class="post-title text-left">{{ post.title}}</h1>
            <h3>By Ian Agpawa - {{post.last_modified.strftime("%b %d, %Y")}}</h3>
        </div>
        <h4>Project: {{post.project}}</h4>

        {% if post.project_link %}
        <h4>
            Website: <a href="{{post.project_link}}" target="_blank">{{post.project_link}}</a>
        </h4>
        {% endif %}

        {% if post.github %}
        <h4>
            Github: <a href="{{post.github}}" target="_blank">Link</a>
        </h4>
        {% endif %}
    </div>
    <br>
    <div class="post-bottom container-fluid">
        <div>
            {{post.rendered_content() | safe }}
        </div>
        <br>
        <div class="col-md-12 row">
            <div class='col-md-6 play-button' >
                <a class='edit'
                    href="{{url_for('editPost',
                        post_id = post.key.id())}}">
                    Edit Post
                </a>
                |
                <a class='delete playlist-description'
                    href="{{url_for('deletePost',
                        post_id = post.key.id())}}">
                    Delete
                </a>
            </div>

        </div>
    </div>



</div>

{% endblock %}
