{% extends "base.html" %}

{% block content %}

<div class='posts text-left'>
    <div class='post-header'>
        <h3 class="post-title text-center">{{ post.title}}</h3>
    </div>
    <div class='project-info container-fluid'>
        <h4>Project: {{post.project}}</h4>

        {% if post.project_link %}
        <h5>
            Website: <a href="{{post.project_link}}" target="_blank">{{post.project_link}}</a>
        </h5>
        {% endif %}

        {% if post.github %}
        <h5>
            Github: <a href="{{post.github}}" target="_blank">Link</a>
        </h5>
        {% endif %}
    </div>
    <br>
    <div class="post-bottom container-fluid">
        <div>
            {{post.content}}
        </div>
        <br>
        <div class="col-md-12 row">
            <div class="col-md-5 col-md-offset-7 text-right">
                {{post.last_modified.strftime("Last Modified: %b %d, %Y %I:%M %p")}}
            </div>
        </div>
    </div>

    <div class='col-md-8 play-button' >
        <a class='edit'
            href="{{url_for('editPost',
                post_id = post.key.id())}}">
            Edit Post
        </a>
        |
        <a class='delete playlist-description'
            href="{{url_for('deletePost',
                post_id = post.key.id())}}">
            Delete
        </a>
    </div>

</div>

{% endblock %}
